# Site settings
title: Working in the open with W3C and Studio 24
logo: "/assets/images/w3c-s24-logo.png"
email: hello@studio24.net
description: > # this means to ignore newlines until "baseurl:"
  During 2020, Studio 24 is working with the World Wide Web Consortium (W3C) on a redesign of their website.
  We are working in the open, sharing our progress, key documents and learnings.
baseurl: ""
url: "https://w3c.studio24.net"
theme: just-the-docs
color_scheme: nil

# Footer content appears at the bottom of every page's main content
footer_content: >
  Copyright &copy; 2020 <a href="https://studio24.net/">Studio 24</a>. 
  Content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.<br>
  <a href="/cookies/">Privacy and cookies</a>. View all <a href="/docs/">Documents</a> and <a href="/updates/">Updates</a>.<br>
  Find us on Twitter: <a href="https://twitter.com/studio24">Studio 24</a> and <a href="https://twitter.com/w3c">W3C</a>.

collections:
  docs:
    output: true
    permalink: /docs/:title/

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /updates/:title/
future: false

# Sass settings
sass:
    style:  compressed  # nested|expanded|compact|compressed
    deploy_style: compressed  # nested|expanded|compact|compressed
    # "deploy_style:" is used only for building the site
    # (ie: not using the --watch flag)

    compile_in_place: false   # true|false
    # If true, compiles sass directly into your jekyll source directory
    # As well as your destination directory

plugins:
- jekyll-seo-tag

# Files to exclude from site build
exclude: ["README.md", "deploy.php", "Gemfile", "Gemfile.lock"]