---
layout: default
title: Home
description: "This site is a collection of regular updates and documents Studio 24 are delivering as part of the W3C website redesign"
nav_order: 1
permalink: /
thumbnail: /assets/images/img-standards.png
thumbnail_alt: Sketch of an American Football Placekicker scoring a field goal. The football shows the W3C logo. 'Standards' is written in the end zone.
---
<div class="home">

  <h1>W3C website redesign project</h1>

  <p>Between 2020 and 2022, <a href="https://www.studio24.net/">Studio 24</a> worked with the World Wide Web Consortium
    (W3C) on a redesign of <a href="https://www.w3.org/">w3.org</a> to more effectively communicate what the
    organisation does with a modern, inclusive, usable website.</p>
  </p>

  <p>We restarted our work with W3C in May 2023, working on improvements and tackling community feedback, and the
      <a href="/updates/live-website-launch">W3C website launched live in June 2023</a>.
      You can continue <a href="https://github.com/w3c/w3c-website">give feedback</a> to help us improve the W3C website.</p>

  <p>We set this project site up to help work in the open, to share our progress, key documents and learnings.
  </p>

  <p>You can view the <a href="/timeline/">full timeline</a> or subscribe to updates via <a href="/feeds/updates.xml">RSS</a>.</p>

    <h2>Key deliverables</h2>
    <ul>
      <li><a href="https://www.w3.org/">Live w3.org website</a></li>
      <li><a href="https://beta.w3.org/">Beta w3.org website</a></li>
      <li><a href="https://design-system.w3.org/">Design system</a></li>
      <li><a href="https://w3c-dev.studio24.dev/">HTML prototypes</a></li>
      <li><a href="https://github.com/w3c/w3c-website-frontend">Frontend website code repo</a></li>
      <li><a href="https://github.com/w3c/w3c-website-craft">Craft CMS code repo</a> (this repo is currently private)</li>
    </ul>

    <h2>Recent updates</h2>
    
    <ol class="tree-list">
      {% for member in site.data.timeline.entries limit:3 %}
        <li>
          <strong>{{ member.date | date_to_string }}</strong> -
          {% if member.link != nil %}
            <a href="{{ member.link | relative_url }}">{{ member.title | markdownify | strip_html | trim  }}</a>
          {% else %}
            {{ member.title | markdownify | strip_html | trim  }}
          {% endif %}
          {% if member.description != nil %}
            <br>{{ member.description | markdownify | strip_html | trim  }}
          {% endif %}
        </li>
      {% endfor %}
      </ol>

</div>
