---
layout: post
title: Round 2 testing - browser and device results
categories:
  - Test
description: Read the test reports following the second round of compatibility testing by Zoonou
author: Julia Sang
date: 2021-06-09
thumbnail: /assets/images/img-standards.png
thumbnail_alt: Sketch of an American Football Placekicker scoring a field goal. The football shows the W3C logo. 'Standards' is written in the end zone.

---

Last week Zoonou completed [round two of testing](/updates/testing-round2/) on the static templates which had not yet been tested. The results were good, with no critical or major issues found. 

In total there were 25 issues raised. Of these issues:
* 3 were considered non-issues and were closed
* 9 were considered 'minor impact on functionality'
* 11 were considered 'cosmetic issue/typo' issues
* 2 were considered 'enhancement/suggestion/query'

Many of the issues were related to either alignment of page elements, for example an image sitting a little out of alignment against some copy, or related to form fields. There were some issues around the drop-down form field states in particular.

Nicki is working through these issues while awaiting the accessibility test report. 


You can read the full reports below, although please note they contain links to the Studio 24 instance of JIRA which is not publically accessible:

[Daily Report 26 May (DOCX, 954 KB)](/assets/downloads/Zoonou-W3C-Website-test-report-26-05-2021.docx)

[Daily Report 27 May (DOCX, 956 KB)](/assets/downloads/Zoonou-W3C-Website-test-report-27-05-2021.docx)

[Daily Report 28 May (DOCX, 958 KB)](/assets/downloads/Zoonou-W3C-Website-test-report-28-05-2021.docx)
