---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.categories.size > 0 %}
<p class="post-labels">
  <span class="label">Docs</span>
  {% for category in page.categories %}
  <span class="label label-green">{{ category }}</span>
  {% endfor %}
</p>
{% endif %}

<p class="post-byline">
  By {{ page.author }} - {{ page.date | date: "%e %B %Y" }}{%- if page.updated != nil -%}, updated {{ page.updated | date: "%e %B" }}

  {% assign date_year = page.date | date: "%Y" %}
  {% assign updated_year = page.updated | date: "%Y" %}
  {% if date_year !=  updated_year %}{{ page.updated | date: "%Y" }}{% endif %}

  {%- endif -%}
</p>

<hr>

{{ content }}
