<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Content wireframe</title>
    <style>
        body {
            font-family: sans-serif;
        }

        a.action {
            display: block;
            margin: 0.4em;
            padding: 0.2em;
        }

        main {
            margin: 0.2em auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <a href="/docs/content-wireframes/" class="action">View all wireframes</a>
</div>
<main>
    <img src="/assets/images/wireframes/{{ page.image }}" alt="Content wireframe of {{ page.title }} page">
</main>
<div>
    <a href="/docs/content-wireframes/" class="action">View all wireframes</a>
</div>
</body>
</html>